<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <link rel="stylesheet" type="text/css" href="https://d3fvh0lm0eshry.cloudfront.net/static/css/newamericadotorg.lite.css"
  />
  <link rel="stylesheet" type="text/css" href="bundle.css" />
  <script>
    window.user = { isAuthenticated: true };
  </script>
</head>

<body>
  <div class="container">
    <% htmlWebpackPlugin.options.chartIDs.forEach(function(id){ %>
      <div id="<%= id %>" class="na-dataviz"></div>
      <% }) %>
  </div>
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script src="bundle.js"></script>
  <script>
    var charts = document.querySelectorAll('.na-dataviz');

    if (charts) {
      for (let i = 0; i < charts.length; i++) {
        renderDataViz(charts[i]);
      }
    }
  </script>
</body>

</html>